html,body{
    height: 100%;
    width: 100%;
    font-family:  sans-serif;
}

.nav{
    display: flex;
    height: 70px;
   
}
.navf{
   display: flex;
    gap: 30px;
    margin-top: 10px;
    justify-content: flex-start;
    align-items: center;
    color: rgb(19, 20, 20);
    font-size: 18px;
}
.navf a{
    color: rgb(19, 19, 20);
}
.navb{
    color: rgb(11, 12, 12);
    margin-top: 15px;
    align-items: center;
    margin-left: 700px;
    display: flex;
    gap: 20px;
}

.navb a{
    color: rgb(11, 11, 11);
}


main{
    display: flex;
    gap: 200px;
    color: white;
   
}

.f1{
    float: left;
}

.f2{
    height: 600px;
    float: right;
    width: auto;
}

.div0{
    height: 70px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 70px;
    font-family: fantasy;
    word-spacing: 10px;
    letter-spacing: 10px;
    font-size: 30px;
    color: rgb(12, 9, 1);
    
    border-style: ridge;
    background-color: rgb(174, 176, 177);
}



.hphoto img{
    height: 600px;
    width: 1300px;
    display: block;
    margin: 10px auto;
    border-style: groove;
    border-radius: 5%;
}

.customize{
    font-family: fantasy;
    text-align: center;
    margin: 20px;
    font-size: 40px;
}
.body{
    display: block;
    margin: 0 auto;
    padding: 25px;
    width: 60%;
    height: fit-content;
   background-color: #ffffff9a;
}

.div1{
    margin: 40px;
    font-size: 20px;
    text-align: center;
    
}

.divv{
   text-align: center; 
}
.div5{
    margin-left: 130px;
    font-size: 20px;
   display: inline-flex;
   flex-direction: row;
   padding: 40px;
   gap: 200px;
 }

.input1{
    width: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    
}
.input1 img{
    width: 150px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.input2{
    width: 10px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}
.input2 img{
    width: 150px;
   
}

.input3{
    width: 10px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 10px;
}
.input3 img{
    width: 140px;
}

.div2{
    margin: 40px;
    font-size: 20px;
    
 }

 
 .div4{
    margin: 40px;
    font-size: 20px;
 }
 .div6{
    margin: 20px;
    font-size: 20px;
    text-align: center;
 }

 .div7{
    margin: 20px;
    font-size: 20px;
    text-align: center;
 }

 #password{
    margin-top: 10px;
 }

 .personalinfo{
    width: 50%;
    display: block;
    margin: 0 auto;
   
 }
 .footer{
    height: 100px;
    text-align: center;
    margin:20px;
    background-color: rgb(231, 218, 218);
    line-height: 100px;
 }